body {
    font-family: "Inter Tight", sans-serif;
    background-image: url(Gradientbooks.com.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-left: 35px;
    overflow: 100vh;
}

header {
    color: white;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}
#webName {
    font-size: 24px;
    margin: 0px;
    padding-top: 30px;
    padding-bottom: 50px;
}
#gridContainer {
    display: grid;
    grid-template-columns: 1.10fr .9fr;
    grid-template-rows: 1fr 5fr 1fr;
    margin: 0px;
}

#aboutHeading {
    font-family: "Anton", sans-serif;
    font-size: 50px;
    margin: 0px;
    padding-bottom: 20px;
}
#leftScrollAboutPage {
    color: white;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    margin: 0px;
    padding-right: 25px;
    height: 100vh;
    overflow-x: scroll; 
    scroll-snap-type: x mandatory; 
}
#rightScrollSamplePage {
    color: black;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: #F6F6F6;
    height: 100vh;
    overflow-x: scroll; 
    scroll-snap-type: x mandatory; 
    scroll-behavior: smooth; 
    justify-content: space-evenly;
    justify-items: center;
    align-content: space-evenly;
    align-items: center;
}

p {
    padding-right: 100px;
}
#emailInput {
    padding-top: 25px;
    padding-bottom: 45px;
}
input {
    border-radius: 3px;
    border-color: #FF29C3;
    border-style: solid;
    background-color: #F6F6F6;
}
input:focus-visible {
    outline: 1px solid #FF29C3;
    border-radius: 3px;
  }

button {
    border-radius: 6px;
    border-style: solid;
    border-color: #FF29C3;
    background-color: #FF29C3;
    color: white;
}



@media screen and (max-width: 1000px) {

    #gridContainer {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 3fr;
        margin: 0px;
        padding: 0px;
        max-height: 1945px;
    }

    #leftScrollAboutPage {
        color: white;
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 0px;
        width: 100vw;
        height: auto;
        padding-right: 0;
    }
    #rightScrollSamplePage {
        grid-row-start: 2;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 1;
        margin: 0;
        background-color: #F6F6F6;
        width: 100vw;
        height: 100vh;

    }
    #webName, #aboutGradient {
        padding-left: 40px;
    }
    .arrow {
        box-sizing: border-box;
        height: 5vw;
        width: 5vw;
        border-style: solid;
        border-color: #F6F6F6;
        border-width: 0px 1px 1px 0px;
        transform: rotate(45deg);
        transition: border-width 150ms ease-in-out;
      }
      
      .arrow:hover {
        border-bottom-width: 4px;
        border-right-width: 4px;
      }
      
      .arrowContainer {
        display: grid;
        justify-content: space-evenly;
        justify-items: center;
        align-content: space-evenly;
        align-items: center;
        background-color: none;
        width: 100vw;
        height: 10vh;
      }
      html {
        scroll-behavior: smooth;
      }
}


